.page-header {
  @extend .clearfix;
  margin-top: $global-spacing;
  width: 100%;
  z-index: 1;
  position: relative;
}

.page__headline {
  float: left;
  font-size: 1.25rem;

}

.prime-nav {
  float: right;
}

.prime-nav--list {
  li {
    font-size: 0.875rem;
    float: left;
    display: inline;
    margin-right: $global-spacing * 1.5;
  }
}