.map {
  > .inner {
    @extend .row, .row--centered;
  }
}
.map__container {
  margin: 0;
}

.mapboxgl-map {
  position:absolute;
  top:0;
  bottom:0;
  z-index: 0;
  width:100%; 
}

.map__panel {
  float: left;
  color: #000;
  background-color: rgba(255,255,255,0.6);
  position: relative;
  z-index: 1;
  top: $global-spacing * 2;
  padding: $global-spacing;
  width: 30%;
  border-radius: 5px;
  a {
    color: #000;
    text-decoration: underline;
    font-size: 0.75rem;
    font-weight: $base-font-regular;
  }
}

.aggregates {
  float: right;
}

.panel__title {
  font-size: 2rem;
  font-weight: $base-font-regular; 
  line-height: 2.25rem;
}

.panel__subtitle {
  font-size: 1rem;
  font-weight: $base-font-light; 
}

.panel__temperature {
  font-weight: $base-font-light; 
  font-size: 4rem;
  line-height: 5rem;
}

.panel__date {
  font-weight: $base-font-light;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.panel__header {
  overflow: hidden;
  padding-bottom: $global-spacing;
  margin-bottom: $global-spacing;
  border-bottom: solid 1px rgba(0,0,0, 0.2);
}

.panel__footer {
  margin-top: $global-spacing/2;
}

.note {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: $base-font-light;
}

.label {
  font-size: 0.875rem;
  font-weight: $base-font-regular;
}

.panel__item {
  margin-bottom: $global-spacing;
}

.station-key {
  position: relative;
  padding-left: $global-spacing * 1.5;
  &:before {
    content: url('../graphics/content/ground-station-light.svg');
    position: absolute;
    left: 0;
  };
}

.guidelines-list {
  li {
    font-weight: $base-font-light;
    font-size: 0.875rem;
  }
}

.time-icon {
  float: right;
}

.index-key-list {
  li {
    display: inline-block;
    width: 15%;
    height: 0.5rem;
    &:nth-child(1){
      background-color: #00E402;
    };
    &:nth-child(2){
      background-color: #FFFF02;
    };
    &:nth-child(3){
      background-color: #FF7E02;
    };
    &:nth-child(4){
      background-color: #FF0002;
    };
    &:nth-child(5){
      background-color: #99004C;
    };
    &:nth-child(6){
      background-color: #7E0023;
    };
  }

}

.sparkline-key {
  li {
    font-size: 0.675rem;
    text-transform: uppercase;
    display: inline-block;
    margin-right: $global-spacing;
    position: relative;
    padding-left: $global-spacing;
    &:last-child {
      margin-right: 0;
    };
    &:before {
      content:'';
      position: absolute;
      border-radius: 3px;
      height: 12px;
      width: 12px;
      left: 0;
      top: 0.15rem;
      background-color: #5B5B5B;
    };
  }

  .sparkline--model{
    &:before {
      background-color: #5890FF;
    };
  }
}