/* ==========================================================================
   Main
   ========================================================================== */

/**
 * Following Necolas' Principles of writing consistent, idiomatic CSS:
 * https://github.com/necolas/idiomatic-css
 */

/* Charset */

@charset "UTF-8";


/* Libraries
   ========================================================================== */

/**
 * Using Bourbon for extended SASS functionality:
 * http://bourbon.io/
 */

@import "bourbon";


/* Reboot
   ========================================================================== */

@import "normalize";
@import "reset";

/**
 * Using Kenneth Ormandy's OpenType features—ligatures, kerning, and
 * more—to Normalize.css:
 * https://github.com/kennethormandy/normalize-opentype.css
 */

@import "normalize-opentype";


/* Settings
   ========================================================================== */
@import "settings/functions";
@import "settings/mixins";
@import "settings/variables";

@import "utilities";

@import "components/buttons";

/* Main
   ========================================================================== */

@import "base";
@import "global/page-nav";
@import "home/global";