.home {
  background-image: url(../graphics/layout/hp-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
	 > .inner {
    @extend .row, .row--centered;
   }
}

.home__header {
  padding: ($global-spacing * 4) 0;
  width: 100%;
  @include media(medium-up) {
    padding: ($global-spacing * 6) 0;
    width: 75%;
  }
  h1 {
     @include heading(2.5rem, xlarge-up);
     margin-bottom: $global-spacing/2;
  }
}

.header__description {
  font-weight: $base-font-light;
}

.home__body {
  @extend .clearfix;
  width: 100%;
  padding: ($global-spacing * 2) 0 ($global-spacing * 6); 
  h2 {
    font-weight: $base-font-regular;
    @include heading(0.875rem, xlarge-up);
    margin-bottom: $global-spacing;
  }
}

.card {
  width: 100%;
  position: relative;
  margin-right: 0;
  margin-bottom: $global-spacing;
  background-color: rgba($base-color, 0.3);
  border-radius: $base-border-radius;
  padding: $global-spacing;
  float: left;
  @include media(medium-up) {
    width: 47%;
    margin-right: $global-spacing;
    margin-bottom: 0;
  }
}

.card__title {
  @include heading(1rem, xlarge-up);
  font-weight: $base-font-regular;
  small {
    display: block;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: $base-font-light;
  }
}

.card__body {
  @extend .clearfix;
  padding: $global-spacing 0 ($global-spacing * 2) 0;
  h4 {
    font-size: 1rem;
    font-weight: $base-font-regular;
  }
}

.reading-list {
  width: 100%;
  float: left;
  li {
    margin-right: $global-spacing;
    font-size: 1.35rem;
    float: left;
    display: inline-block;
    span {
      font-size: 0.75rem;
      margin-left: $global-spacing/4;
    }
    small {
      display: block;
      font-size: 0.875rem;
      line-height: 1rem;
    }
  }
}

.home__footer {
  width: 100%;
  border-top: solid 1px rgba(255,255,255, 0.2);
  margin: ($global-spacing * 4) 0;
  float: left;
}

.logo-list {
  padding: ($global-spacing * 4) 0 0 0;
  float: left;
  .logo {
    float: left;
    margin-right: $global-spacing * 2;
  }
}
